@mixin link-underline($color) {
  position: relative;

  &::after {
    content: "";
    height: 3px;
    width: 0;
    background: $color;
    position: absolute !important;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin parallax {
  background-size: cover;
  background-position: center center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin bg-clip1($img-url) {
  height: 75vh;
  height: 75svh;
  width: 100%;
  
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url($img-url);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  @include parallax;

  @include respond(tab-port) {
    height: 55vh;
    height: 55svh;
  }

  @include respond(phone) {
    
    height: 50vh;
    height: 50svh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
}

@mixin bg-clip2($img-url) {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url($img-url);
  clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);
  @include parallax;

  @include respond(tab-port) {
    height: 55vh;
    height: 55svh;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  }

  @include respond(phone) {
    height: 50vh;
    height: 50svh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
}

@mixin bg-skew-deg($deg, $img-url) {
  background-image: linear-gradient(
      $deg,
      rgba($color-primary-red, 0.8) 0%,
      rgba($color-primary-red, 0.8) 50%,
      transparent 50%
    ),
    url($img-url);
  width: 100%;
  border-radius: $radius;
  box-shadow: $box-shadow-s;

  @include respond(tab-land) {
    background-image: linear-gradient(
        $deg,
        rgba($color-primary-red, 0.8) 0%,
        rgba($color-primary-red, 0.8) 70%,
        transparent 50%
      ),
      url($img-url);
    background-repeat: no-repeat;
  }

  @include respond(phone) {
    background-image: linear-gradient(
        rgba($color-primary-red, 0.8) 0%,
        rgba($color-primary-red, 0.8) 100%,
        transparent 50%
      ),
      url($img-url);
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: none;
  }
}

// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
