//COLORS
$color-primary-red: #db0000;
$bg-color: #1a1a19;
$font-color: #fff;
$color-dark: #000;

// FONT
$default-font-size: 1.6rem;

//Gutter

$gutter-vertical-l: 17rem;
$gutter-vertical-m: 12rem;
$gutter-vertical-s: 6rem;
$gutter-vertical-xs: 4rem;

$box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.9);
$box-shadow-s: 0 1rem 1rem rgba(#000, 0.4);
$radius: 2rem;
