body {
  font-family: "Oxygen", sans-serif;
  color: $font-color;
}

.heading-main {
  color: $font-color;
  text-transform: uppercase;
  padding-top: 10rem;
  font-size: 3.2rem;
  margin-bottom: 10rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.7;

  @include respond(tab-port) {
    font-size: 2.6rem;
    margin-bottom: $gutter-vertical-s;
    
  }

  @include respond(phone) {
    font-size: 2.8rem;
    
    
  }
}

.heading-2nd {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 1.5rem;
  color: $font-color;
  line-height: 1.5;
  font-weight: 700;

  @include respond(tab-port) {
    font-size: 2.3rem;
  }

  @include respond(phone) {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
}
.paragraph,
li {
  color: $font-color;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
  text-wrap: pretty;

  @include respond(phone) {
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.paragraph-card {
  color: $font-color;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7;
  text-wrap: pretty;

  @include respond(phone) {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
  }
}

span {
  color: $color-primary-red;
}
