header {
  background-color: $bg-color;
}
.spartan {
  background-color: $bg-color;

  &__container {
    padding: 0 5rem;
    padding-bottom: $gutter-vertical-l;

    @include respond(tab-port) {
      padding-bottom: $gutter-vertical-m;
    }

    p {
      text-align: center;
    }
  }
}
.treninzi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/home/_BM10864-e.jpg);
  background-size: cover;
  width: 100%;

  &__container {
    padding-bottom: $gutter-vertical-m;

    .swiper {
      width: 100%;
      position: relative;
    }

    .swiper-slide,
    .swiper__content {
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: rgba(255, 99, 71, 0.4);
      opacity: 0.5;
      border: solid 1px #ff634766;
      border-radius: $radius;
      transition: all 0.2s;

      @media only screen and (max-width: 37.5em), only screen and(hover:none) {
        opacity: 1 !important;
      }
    }

    .swiper-slide:hover,
    .swiper__content {
      box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.9);
      background: $color-primary-red;
      opacity: 1;
    }

    .swiper__content {
      color: $font-color;
      font-family: "Oxygen", sans-serif;
      padding: 2rem;

      .swiper__icon {
        margin-bottom: 4rem;
      }

      .swiper__opis {
        padding: 1rem 2rem;

        margin-bottom: 1rem;
      }
    }

    .swiper-pagination-bullet {
      opacity: 1;
      background-color: #aaa6a6;
      width: 1rem;
      height: 1rem;
      margin: 0 0.5rem;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-dark !important;
      width: 1.2rem !important;
      height: 1.2rem !important;
    }
  }
}

.ponuda {
  background-color: $bg-color;

  &__col {
    display: flex;
    padding-bottom: $gutter-vertical-l;

    @include respond(phone) {
      flex-direction: column;
      gap: 4rem;
      padding-bottom: $gutter-vertical-m;
    }
  }

  &__colx {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5rem 2rem 5rem;

    @include respond(phone) {
      width: 100%;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  img {
    margin-right: 2rem;

    @include respond(tab-port) {
      width: 5rem;
    }
    @include respond(phone) {
      width: 3.5rem;
    }
  }
}

.upisi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/home/upisi04-small.jpg);
  @include parallax;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/home/upisi04.jpg);
  }

  @include respond(phone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/home/upisi04-500.jpg);
  }

  &__content {
    padding: 0 5rem;

    @include respond(phone) {
      text-align: center;
    }

    p {
      margin-bottom: 10rem;

      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-s;
      }
    }

    .btn {
      margin-bottom: $gutter-vertical-l;

      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-m;
      }

      @include respond(phone) {
        margin-bottom: $gutter-vertical-l;
      }
    }
  }
}

.treneri {
  background-color: $bg-color;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    padding: 0 4rem;
    padding-bottom: $gutter-vertical-l;

    @include respond(tab-port) {
      padding: 0 2rem;
      padding-bottom: $gutter-vertical-m;
    }
  }

  
  @media only screen and (hover: hover) {
    &__card {
      position: relative;
      background-color: $color-primary-red;
      display: flex;
      justify-content: center;
      border-radius: $radius;
      box-shadow: $box-shadow-s;
      width: 35rem;
      height: 32rem;
      transition: 0.5s;

      &:hover {
        height: 45rem;
      }
    }

    &__img {
      position: absolute;
      top: 2rem;
      width: 30rem;
      height: 22rem;
      background: $color-dark;
      border-radius: 1.2rem;
      overflow: hidden; // potrebno kako bi bio vidljiv border-radius slike
      transition: 0.5s;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__card:hover &__img {
      top: -10rem;
      scale: 0.75;
      box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
    }

    &__content {
      position: absolute;
      top: 26.5rem;
      width: 100%;
      padding: 0 3rem;
      height: 4rem;
      overflow: hidden;
      text-align: center;
      transition: 0.5s;

      h3 {
        margin-bottom: 2rem;
        text-transform: capitalize;
      }
    }

    &__card:hover &__content {
      top: 15rem;
      height: 25rem;
    }
  }

  // zbog samsung mobitela na kojima bez ovoga ne radi (hover: none should match touchscreens (mobile devices). Unfortunately, Samsung devices say their touchscreens are touchpads.)
  @media only screen and (max-width: 37.5em), only screen and (hover: none){
    &__card {
      position: relative;
      background-color: $color-primary-red;
      display: flex;
      justify-content: center;
      border-radius: $radius;
      box-shadow: $box-shadow-s;
      width: 35rem;
      min-height: 45rem;
      margin-bottom: 7rem;
      margin-top: 7rem;
    }

    &__img {
      position: absolute;
      top: -10rem;
      width: 30rem;
      height: 22rem;
      background: $color-dark;
      border-radius: 1.2rem;
      overflow: hidden; // potrebno kako bi bio vidljiv border-radius slike
      scale: 0.75;
      box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.2);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      position: absolute;
      top: 15rem;
      width: 100%;
      padding: 0 3rem;
      height: 25rem;
      overflow: hidden;
      text-align: center;

      h3 {
        margin-bottom: 2rem;
        text-transform: capitalize;
      }
    }
  }

}
