.onama {
  background: $bg-color;

  &__skewparallax1 {
    @include bg-clip1("../img/pages/onama1-small.jpg");

    /*@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/pages/onama1.jpg);
    }*/
  }

  &__skewparallax2 {
    @include bg-clip2("../img/pages/grupa1-small.jpg");

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/pages/grupa1.jpg);
    }
  }

  &__container {
    margin-bottom: $gutter-vertical-m;

    p {
      margin-bottom: 4rem;
      padding: 0 5rem;
    }
  }
}
