.skidajKg {
  background: $bg-color;

  .parallaximg {
    @include bg-clip1("../img/pages/lose_weight1.jpg");
  }

  &__container {
    padding: 0 5rem;
  }

  &__program {
    display: flex;
    align-items: center;
    padding-bottom: $gutter-vertical-m;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 5rem;
    }

    .text-col {
      width: 50%;

      @include respond(tab-port) {
        width: 100%;
      }

      p:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    .img-col {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 75%;
        border-radius: $radius;
        box-shadow: $box-shadow-s;

        @include respond(phone) {
          width: 90%;
        }
      }
    }
  }

  &__transformacije {
    h2 {
      margin-bottom: $gutter-vertical-xs;
      text-transform: none;
    }
    p {
      margin-bottom: $gutter-vertical-m;
    }

    .transformacije__wrap {
      display: flex;
      gap: 5rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      max-width: 100%;
      padding-bottom: $gutter-vertical-l;

      @include respond(tab-port) {
        padding-bottom: $gutter-vertical-m;
      }
    }
  }

  .transformacije__container {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    box-shadow: $box-shadow-s;
    --position: 50%;

    .image-container {
      position: relative;
      max-width: 35rem;
      max-height: 70vh;
      aspect-ratio: auto;
      //aspect-ratio: 0.5;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }

      .image-before {
        position: absolute;
        inset: 0;
        width: var(--position);
      }
    }

    .slider {
      position: absolute;
      inset: 0;
      cursor: pointer;
      opacity: 0;

      width: 100%;
      height: 100%;
    }

    .slider:focus-visible ~ .slider-button {
      outline: 5px solid $color-dark;
      outline-offset: 3px;
    }

    .slider-line {
      position: absolute;
      inset: 0;
      width: 0.2rem;
      height: 100%;
      background-color: $font-color;

      left: var(--position);
      transform: translateX(-50%);
      pointer-events: none;
    }

    .slider-button {
      position: absolute;
      background-color: $font-color;
      color: $color-dark;
      padding: 0.5rem;
      border-radius: 100vw;
      display: grid;
      place-items: center;
      top: 50%;
      left: var(--position);
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}
